@mixin center($type: 'both') {
    display: flex;

    @if $type == 'vertical'{
        align-items: center;
    }@else if $type == 'horizontal'{
        justify-content: center;
    }@else if $type == 'both'{
        justify-content: center;
        align-items: center;
    }
}

@mixin centerCol($type: 'both') {
    display: flex;
    flex-direction: column;

    @if $type == 'vertical'{
        justify-content: center;
    }@else if $type == 'horizontal'{
        align-items: center;
    }@else if $type == 'both'{
        justify-content: center;
        align-items: center;
    }
}

@mixin button($type: 'colored'){
        @if $type == 'colored'{
            button{
                border: 2px solid $primary-color;
                padding: 10px 30px;
                color: $txt-light;
                font-size: $fs-s;
                font-weight: $bold;
                cursor: pointer;
                background: linear-gradient(to right, $primary-color 50%, transparent 50%) left;
                background-size: 300%;

                transition: 0.5s ease-out;

                &:hover{
                    background-position: right;
                }
            }
        }
        @else if $type == 'light'{
            button{
                border: 2px solid $primary-color;
                padding: 10px 30px;
                color: $txt-light;
                font-size: $fs-s;
                font-weight: $bold;
                cursor: pointer;
                transition: 0.5s ease-out;
                background: linear-gradient(to right, transparent 50%, $primary-color 50%) left;
                background-size: 300%;

                &:hover{
                    background-position: right;
                }
            }
        }
    }


// TRANSITION
$fast: 0.2s;
$medium: 0.5s;
$slow: 1s;

